body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    background: #463730;
    color: #EEE0CB;
}

h1 {
    font-size: 3.5em;
}

nav {
    display: flex;
    justify-content: center;
    width: 100vw;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
}

img {
    object-fit: cover;
    max-width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    width: 70%;
    line-height: 1.5em;
    text-align: justify;
    text-justify: inter-word;
}

#earth-container {
    width: 250px;
    height: 250px; 
}

#earth {
    cx: 125px;
    cy: 125px;
    r: 115px;
    fill: #BAA898;
    stroke-width: 5;
}

#moon-container {
    width: 150px;
    height: 150px;
}

#moon {
    cx: 75px;
    cy: 75px;
    r: 65px;
    fill: #EEE0CB;
    stroke-width: 5;
}

.active-earth {
    stroke: #87705A;
}

.active-moon {
    stroke: #DCBF93;
}

.inactive-earth {
    stroke: #BAA898;
}

.inactive-moon {
    stroke: #EEE0CB;
}
